<%- include("partials/header"); -%>

<h1>hello</h1>
<p><%= homeContent%></p>
<% console.log(posts); %>

<%  posts.forEach(function(post){ %>
    <% console.log(post.title)%>
<% }) %>


<%- include("partials/footer"); -%>